In [60]:
#기본적인 라이브러리와 데이터 불러오기

In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

train_target = pd.read_csv("cogn_data/training_label.csv")
test_target = pd.read_csv("cogn_data/val_label.csv")
train_input = pd.read_csv("cogn_data/train_mmse.csv")
test_input = pd.read_csv("cogn_data/val_mmse.csv")

In [62]:
#EMAIL에 대한 라벨링을 EMAIL로 통일

In [63]:
train_target = train_target.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
train_input = train_input.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
train_target

                EMAIL DIAG_NM
0    nia+315@rowan.kr      CN
1    nia+014@rowan.kr     MCI
2    nia+220@rowan.kr      CN
3    nia+096@rowan.kr     MCI
4    nia+396@rowan.kr      CN
..                ...     ...
136  nia+181@rowan.kr      CN
137  nia+354@rowan.kr      CN
138  nia+448@rowan.kr     MCI
139  nia+394@rowan.kr      CN
140  nia+067@rowan.kr     Dem

[141 rows x 2 columns]

In [64]:
#데이터를 쉽게 구분하기 위해 이메일에서 숫자만 제거

In [65]:
train_input

,EMAIL,DIAG_SEQ,DIAG_NM,DOCTOR_NM,MMSE_NUM,MMSE_KIND,Q01,Q02,Q03,Q04,...,Q14_1,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL
0,nia+315@rowan.kr,2,CN,-,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,29
1,nia+014@rowan.kr,3,MCI,-,3,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,28
2,nia+220@rowan.kr,2,CN,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,30
3,nia+096@rowan.kr,2,MCI,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,27
4,nia+396@rowan.kr,3,CN,-,3,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,nia+181@rowan.kr,1,CN,-,1,2,2,2,2,1,...,2,2,2,2,2,1,2,2,2,26
137,nia+354@rowan.kr,2,CN,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,26
138,nia+448@rowan.kr,2,MCI,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,28
139,nia+394@rowan.kr,3,CN,-,3,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,28
140,nia+067@rowan.kr,2,Dem,-,2,2,1,2,1,1,...,2,2,2,1,1,2,1,2,2,16

In [66]:
train_input['EMAIL'] = train_input['EMAIL'].str.replace('nia+','')
train_input['EMAIL'] = train_input['EMAIL'].str.replace('@rowan.kr','')
train_target['EMAIL'] = train_target['EMAIL'].str.replace('nia+','')
train_target['EMAIL'] = train_target['EMAIL'].str.replace('@rowan.kr','')

In [67]:
#정렬 및 병합을 위해 EMAIL을 object형에서 int형으로 변경

In [68]:
train_target = train_target.astype({'EMAIL':int})
train_input = train_input.astype({'EMAIL':int})
train_input.dtypes
train_target.dtypes

EMAIL       int32
DIAG_NM    object
dtype: object

In [69]:
#병합을 위해 정렬

In [70]:
train_input = train_input.sort_values('EMAIL')
train_target = train_target.sort_values('EMAIL')

In [71]:
#병합을 위해 DataFrame형식으로 변경

In [72]:
train_input = pd.DataFrame(train_input)
train_target = pd.DataFrame(train_target)

In [73]:
#각각의 병도에 매칭시켜 이메일을 병도로 변경

In [74]:
train_set = pd.merge_asof(train_input, train_target, on='EMAIL')
train_set

,EMAIL,DIAG_SEQ,DIAG_NM_x,DOCTOR_NM,MMSE_NUM,MMSE_KIND,Q01,Q02,Q03,Q04,...,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL,DIAG_NM_y
0,3,3,MCI,-,3,2,1,2,1,1,...,2,2,1,2,2,2,2,2,18,MCI
1,5,1,CN,-,1,2,2,2,2,1,...,2,2,2,2,2,2,2,2,28,CN
2,10,3,MCI,-,3,2,1,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
3,14,3,MCI,-,3,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
4,15,4,CN,-,4,2,2,2,2,2,...,2,1,1,2,2,2,2,2,26,CN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,451,2,CN,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
137,456,3,CN,-,3,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
138,458,4,CN,-,4,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
139,462,4,MCI,-,4,2,2,2,2,2,...,2,2,2,2,2,2,2,2,25,MCI
140,475,3,CN,-,3,2,2,2,2,2,...,2,2,2,2,2,2,2,2,27,CN

In [75]:
#이메일에서 병도로 바꾼 열을 target data로 분리

In [76]:
train_set

,EMAIL,DIAG_SEQ,DIAG_NM_x,DOCTOR_NM,MMSE_NUM,MMSE_KIND,Q01,Q02,Q03,Q04,...,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL,DIAG_NM_y
0,3,3,MCI,-,3,2,1,2,1,1,...,2,2,1,2,2,2,2,2,18,MCI
1,5,1,CN,-,1,2,2,2,2,1,...,2,2,2,2,2,2,2,2,28,CN
2,10,3,MCI,-,3,2,1,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
3,14,3,MCI,-,3,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
4,15,4,CN,-,4,2,2,2,2,2,...,2,1,1,2,2,2,2,2,26,CN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,451,2,CN,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
137,456,3,CN,-,3,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
138,458,4,CN,-,4,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
139,462,4,MCI,-,4,2,2,2,2,2,...,2,2,2,2,2,2,2,2,25,MCI
140,475,3,CN,-,3,2,2,2,2,2,...,2,2,2,2,2,2,2,2,27,CN

In [77]:
train_target = train_set['DIAG_NM_x']
train_target

0      MCI
1       CN
2      MCI
3      MCI
4       CN
      ...
136     CN
137     CN
138     CN
139    MCI
140     CN
Name: DIAG_NM_x, Length: 141, dtype: object

In [78]:
#input data에 필요없는 'DIAG_NM' , 'EMAIL' 열을 삭제

In [79]:
train_input = train_set.drop(['DIAG_NM_x', 'EMAIL'], axis=1)
train_input

,DIAG_SEQ,DOCTOR_NM,MMSE_NUM,MMSE_KIND,Q01,Q02,Q03,Q04,Q05,Q06,...,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL,DIAG_NM_y
0,3,-,3,2,1,2,1,1,2,2,...,2,2,1,2,2,2,2,2,18,MCI
1,1,-,1,2,2,2,2,1,2,2,...,2,2,2,2,2,2,2,2,28,CN
2,3,-,3,2,1,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
3,3,-,3,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,MCI
4,4,-,4,2,2,2,2,2,2,2,...,2,1,1,2,2,2,2,2,26,CN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
137,3,-,3,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
138,4,-,4,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
139,4,-,4,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,25,MCI
140,3,-,3,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,27,CN

In [80]:
#test data들도 train data와 같이 처리

In [81]:
test_target = test_target.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
test_input = test_input.rename(columns={'SAMPLE_EMAIL':'EMAIL'})
test_target
test_input['EMAIL'] = test_input['EMAIL'].str.replace('nia+','')
test_input['EMAIL'] = test_input['EMAIL'].str.replace('@rowan.kr','')
test_target['EMAIL'] = test_target['EMAIL'].str.replace('nia+','')
test_target['EMAIL'] = test_target['EMAIL'].str.replace('@rowan.kr','')
test_target = test_target.astype({'EMAIL':int})
test_input = test_input.astype({'EMAIL':int})
test_input.dtypes
test_target.dtypes
test_input = test_input.sort_values('EMAIL')
test_target = test_target.sort_values('EMAIL')
test_input = pd.DataFrame(test_input)
test_target = pd.DataFrame(test_target)
test_set = pd.merge_asof(test_input, test_target, on='EMAIL')
test_set
test_target = test_set['DIAG_NM_x']
test_target
test_input = test_set.drop(['DIAG_NM_x', 'EMAIL'], axis=1)
test_input

,DIAG_SEQ,DOCTOR_NM,MMSE_NUM,MMSE_KIND,Q01,Q02,Q03,Q04,Q05,Q06,...,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL,DIAG_NM_y
0,1,-,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,MCI
1,1,-,1,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,29,MCI
2,2,-,2,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
3,2,-,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Dem
4,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
5,6,-,6,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
6,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
7,1,-,1,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
8,5,-,5,2,1,2,1,1,1,2,...,2,2,1,2,1,2,2,2,11,Dem
9,4,-,4,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,27,MCI
10,4,-,4,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
11,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
12,3,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,25,CN
13,4,-,4,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
14,4,-,5,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,29,CN
15,1,-,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,MCI
16,6,-,6,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
17,5,-,5,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
18,5,-,5,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
19,1,-,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
20,2,-,2,2,1,1,1,1,1,2,...,2,2,1,2,2,2,2,2,15,Dem
21,4,-,4,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,30,CN
22,3,-,3,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,29,CN
23,1,-,1,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,28,CN
24,3,-,3,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,29,CN
25,1,-,1,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,26,CN
26,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,28,CN
27,4,-,4,2,2,1,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
28,3,-,3,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,27,CN
29,1,-,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN
30,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,27,CN
31,2,-,2,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,25,CN
32,2,-,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,29,CN

In [82]:
#현재는 처리방법을 찾지 못한 object 변수들을 제거 -> 후에 처리방법을 알아봐도 좋을듯함

In [83]:
test_input.dtypes

DIAG_SEQ      int64
DOCTOR_NM    object
MMSE_NUM      int64
MMSE_KIND     int64
Q01           int64
Q02           int64
Q03           int64
Q04           int64
Q05           int64
Q06           int64
Q07           int64
Q08           int64
Q09           int64
Q10           int64
Q11_1         int64
Q11_2         int64
Q11_3         int64
Q12_1         int64
Q12_2         int64
Q12_3         int64
Q12_4         int64
Q12_5         int64
Q12_TOTAL     int64
Q13_1         int64
Q13_2         int64
Q13_3         int64
Q14_1         int64
Q14_2         int64
Q15           int64
Q16_1         int64
Q16_2         int64
Q16_3         int64
Q17           int64
Q18           int64
Q19           int64
TOTAL         int64
DIAG_NM_y    object
dtype: object

In [84]:
test_input = test_input.drop(['DOCTOR_NM', 'DIAG_NM_y'], axis=1)
test_input.dtypes

DIAG_SEQ     int64
MMSE_NUM     int64
MMSE_KIND    int64
Q01          int64
Q02          int64
Q03          int64
Q04          int64
Q05          int64
Q06          int64
Q07          int64
Q08          int64
Q09          int64
Q10          int64
Q11_1        int64
Q11_2        int64
Q11_3        int64
Q12_1        int64
Q12_2        int64
Q12_3        int64
Q12_4        int64
Q12_5        int64
Q12_TOTAL    int64
Q13_1        int64
Q13_2        int64
Q13_3        int64
Q14_1        int64
Q14_2        int64
Q15          int64
Q16_1        int64
Q16_2        int64
Q16_3        int64
Q17          int64
Q18          int64
Q19          int64
TOTAL        int64
dtype: object

In [85]:
test_target.dtypes

dtype('O')

In [86]:
train_target.dtypes

dtype('O')

In [88]:
train_input = train_input.drop(['DOCTOR_NM', 'DIAG_NM_y'], axis=1)
train_input.dtypes

DIAG_SEQ     int64
MMSE_NUM     int64
MMSE_KIND    int64
Q01          int64
Q02          int64
Q03          int64
Q04          int64
Q05          int64
Q06          int64
Q07          int64
Q08          int64
Q09          int64
Q10          int64
Q11_1        int64
Q11_2        int64
Q11_3        int64
Q12_1        int64
Q12_2        int64
Q12_3        int64
Q12_4        int64
Q12_5        int64
Q12_TOTAL    int64
Q13_1        int64
Q13_2        int64
Q13_3        int64
Q14_1        int64
Q14_2        int64
Q15          int64
Q16_1        int64
Q16_2        int64
Q16_3        int64
Q17          int64
Q18          int64
Q19          int64
TOTAL        int64
dtype: object

In [ ]:
#로지스틱 회귀 모델 적용 (85% 75%로 다른 모델들 보다야 훨씬 나은데 좋은 모델이라면 둘다 90퍼 대로 나오는게 좋다)

In [89]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr = LogisticRegression(C=20, max_iter=1000)
lr.fit(train_input, train_target)

print(lr.score(train_input, train_target))
print(lr.score(test_input, test_target))

0.851063829787234
0.7575757575757576

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
#경사하강법분류모델도 정확도가 아직 높지않음

In [90]:
from sklearn.linear_model import SGDClassifier

In [95]:
sc = SGDClassifier(loss='log_loss', max_iter=10, random_state=42)
sc.fit(train_input, train_target)

print(sc.score(train_input, train_target))
print(sc.score(test_input, test_target))

0.6382978723404256
0.8787878787878788

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_stochastic_gradient.py:723: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(